
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Jumbotron Template for Bootstrap</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div data-th-replace="navbar"></div>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <form th:object="${resForm}" method="Post" th:action="@{/medecins/rechercheadvanced}">
        <hr>
        <p align="center"> Recherche Medecins Par Specialite  </p>
        <hr>
        <div class="form-group">
          <label>Nom</label>
          <input type="text" id="nom" th:field="*{nom}" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Spécialité</label>
          <select class="form-control" id="Spec" th:field="*{specialite}" >
            <option value="Spec 1">Spec 1</option>
            <option value="Spec 2">Spec 2</option>
            <option value="Spec 3">Spec 3</option>
            <option value="Spec 4">Spec 4</option>
            <option value="Spec 5">Spec 5</option>
          </select>
        </div>
        <button type="submit" class="btn-primary">submit</button>
        <hr>
        <table class="table table-striped">
          <thead>
          <th scope="row">ID_Medecin</th>
          <th scope="row">Nom</th>
          <th scope="row">Prénom</th>
          <th scope="row">Specialité</th>
          <th scope="row">Delete</th>
          <th scope="row">update</th>
          </thead>
          <tbody>
          <tr th:each="m:${resForm.medecins}"><!-- for each c in clients-->
            <td th:utext="${m.id}" ></td>
            <td th:utext="${m.nom}"></td>
            <td th:utext="${m.prenom}"></td>
            <td th:utext="${m.specialite}"></td>
            <td>
              <a th:href="@{/medecins/delete/{idm} (idm=${m.id})}" role="button" class="btn btn-danger">Delete</a>
            </td>
            <td>
              <a th:href="@{/medecin/update/{idc} (idc=${m.id})}" role="button" class="btn btn-danger">Update</a>
            </td>

          </tr>
          </tbody>

        </table>
      </form>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<div data-th-replace="footer"> </div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
